@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "default.cshtml";
}
<div class="uk-container-expand site">
    <section class="general quick-links" uk-grid>
        <article class="lt-back uk-width-1-1 uk-width-3-5@m">
            <div class="uk-container-expand">
                <div class="uk-card">
                    <div class="uk-card-body">
                        <div class="uk-card-title">
                            <h1 class="clr-primary-1">Careers</h1>
                        </div>
                        @Html.Raw(Model.GetProperty("body").GetValue())
                        <ul>
@{ 
    foreach (IPublishedContent node in Model.Children()) {
        var title = node.Value<string>("title");
        var location = node.Value<string>("location");
        <li><a href="@node.Url()">@title</a> &ndash; @location</li>
    }
}
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        @await Html.PartialAsync("SideLinks", Model)
    </section>
</div>